# node
node_modules
npm-debug.log

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml